:root{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --coloreTitoli:#404DFF;
    --coloreSottotitoli:#606BFF;
    --OmbraTitoli:#404dffa4;
    --ColoreSecondario:white;
}

/* Sfondo */

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #C0C4FF, #404DFF);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

/* immagine sopra con opacità */
body::before {
    content: "";
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    
    background-image: url("./immagini/sfondo.png");
    background-size: cover;
    background-position: center;
    
    opacity: 0.04;
    pointer-events: none; /* evita problemi con click */
}

/* Navbar e ancore*/
nav{
    display:flex;
    flex-direction: row;
    vertical-align: middle;
    flex-direction: row;
    justify-content: center;
    gap:3%;
}

nav  a {
    text-decoration: none;
    color:var(--ColoreSecondario);
    padding: 8px;
    border: dashed 3px var(--ColoreSecondario);
    border-radius: 15px;
}

nav  a.active, nav a:hover, nav a:active{
        border-style: solid;
}


/* Testo */

body > h1:first-child{
    font-size: 300%;
    margin:2%;
}
body > h1{
    color:var(--coloreTitoli);
    text-shadow: 1px 1px 3px var(--OmbraTitoli);
    margin-left:2%;
    margin-bottom:0px;
}

body > p {
    margin-left:calc(2% + 30px);
    font-size: 20px;
    
}

hr{
    color:var(--ColoreSecondario);
    width:calc(100% - 150px);
}

body > h2{
    color:var(--coloreSottotitoli);
    font-size: 25px;
    margin-left:calc(2% + 20px);
}

body > h3{
    margin-left:calc(2% + 30px);
}

pre{
    margin-top:0px;
    border: dotted 3px var(--ColoreSecondario);
    overflow-x: auto;
    max-width: 100%;
    padding: 16px;
    background: var(--ColoreSecondario);
    border-radius: 8px;
    margin-left:calc(2% + 3px);
    margin-right:calc(2% + 3px); 
}

body > a > button{
    width:calc(100% - 4% + 6px);
    margin-left: calc(2% + 3px);
    margin-right: calc(2% + 3px);
    margin-bottom:10vh;
}

button > p{
    text-transform: capitalize;
    font-size: 200%;
}