h1 {
    color: blue;
    text-transform: uppercase;
}

h2 {
    color: red;
    text-transform: capitalize; 
    text-decoration: underline;
}

p {
    text-align: justify; 
}

#id{
    text-align: right;
}

#idcit{
    text-shadow: 2px 2px 5px red;
}